<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2e24c5f2-5c67-45ac-8a74-5166f603d04c" Version="1.0.0.0" Publisher="CN=ali.sufiyan" />
  <Properties>
    <DisplayName>Runner</DisplayName>
    <Description>Runner</Description>
    <PublisherDisplayName>Ramez</PublisherDisplayName>
    <Logo>app-storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <VisualElements DisplayName="Runner" Logo="app-logo.png" SmallLogo="app-smalllogo.png" Description="Runner" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>